<div class="products_container">
  <div class="product" *ngFor="let item of products$ | async">
    <div class="product_wrapper">
      <div class="product_title">{{ item.product }} </div>
    </div>

    <div class="product_description">{{ item.description }} </div>
    <div class="product_categories">
      <div class="product_category" *ngFor="let category of item.categories">
        {{ category }}
      </div>
    </div>
    <div class="product_wrapper">
      <div class="product_price">{{ item.price }} {{ item.unit }} </div>
    </div>
    <div class="product_wrapper">
      <input type="number" min="1" max="100" value="1" #quantityInput />
      <button class="product_button" (click)="onAddToCart(item, quantityInput.value)">Add to cart</button>
    </div>
  </div>
</div>